
body{
    font-size: 18px;
    font-family: 'Balsamiq Sans', cursive;
}
button{
    display:inline-block;
    padding: 0.30cm 1.7cm;
    border:0.05cm solid sandybrown;
    margin:0 0.3cm 0.3cm 0;
    border-radius:0.3cm;
    box-sizing: border-box;
    font-size: 19px;
    font-family:'Balsamiq Sans', cursive;
    font-weight:300;
    color:sandybrown;
    text-align:center;
    display:block;
    margin:0.4cm auto;
    background-color: transparent;
}
button:hover{
    color:#8189da;
    background-color:#eca295;}
a{text-decoration:none;}